@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&family=Overpass&display=swap');

html{
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

nav, footer{
  background-color: rgba(250, 235, 215, 0.8);
  font-family: 'Overpass', sans-serif;
  font-size: .75rem;
  padding: 10px;
  text-align: center;
}

footer{
  line-height: .5em;
}

nav a{
  padding: 12px;
  color: black;
}

nav a:hover{
  background-color: rgb(252, 163, 147);
  color: white;
  font-weight: bold;
}


#title{
  font-size: 2.5rem;
  text-align: left;
  background-color: rgb(252, 163, 147);
  padding: 30px;
  font-family: 'Chivo', sans-serif;
}

.entry:nth-child(even){
  padding: 30px;
  background-color:antiquewhite;
  margin: 50px;
  font-size: 16px;
}

.entry:nth-child(odd){
  padding: 30px;
  background-color: rgb(252, 163, 147);
  margin: 50px;
  font-size: 16px;
}

.entry h2{
  font-family: 'Chivo', sans-serif;
  font-size: 2rem;
}

.entry p {
  font-family: 'Overpass', sans-serif;
  font-size: 1.2em;
}